.founders-container {
  width: 100%;
  overflow-x: hidden;
  margin: 0px 20px;
  background-color: #fff;
  padding: 0rem 2rem;
}
.edit-founders-container {
  width: 100%;
  overflow-x: hidden;
  margin: 0px 20px;
  background-color: #fff;
  padding: 0rem 2rem;
}
