.home-container {
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: calc(100vw - 356px);
  margin: 0 auto;
  /* min-height: 100vh; */
}
.home-header {
  display: flex;
  gap: 10px;
}
.single-header {
  display: flex;
  background-color: #f5f5f5;
  padding: 15px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.header-name {
  /* color:#787878; */
  font-size: 1rem;
  margin: 0 0.5rem;
}
.active {
  background-color: #0047ff1a;
  color: #0047ff;
}
.line-break {
  height: 1px;
  background-color: #e5e5e5;
  margin: 1rem 0 0 0;
}
.switchbutton {
  display: flex;
  align-items: center;
  gap: 8px;
}
.switchtext {
  color: #787878;
}
.client-active {
  border-bottom: 4px solid #0047ff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
