.dashboardcontainer{
    width: 100%;
    background-color: #EFF2F4;
    padding: 1rem;
}
.dash-stats-container{
    display: flex;
    column-gap: 1rem;
    /* padding: 0 1rem; */
    flex-wrap: wrap;
    
}
.stats-card{
    background-color: white;
    flex-grow: 1;
    border-radius: 1rem;
    padding: 1.9rem;
    margin: 1rem 0;
}
.export{
    display: flex;
    flex-direction: column;
    flex-grow: 0.05;
}

.download-icon{
    justify-content: center;
    margin: 0.3rem auto 0 auto ;
    color: #0047FF;
    
}
.stats-card-title{
    font-weight: 500;
    color: #787878;
    margin-bottom: 0.5rem;
}
.stats-card-value{
    font-weight:500; 
    font-family:'Poppins';
    font-size: 2.25rem;
}
.export .stats-card-title{
    font-weight: 600;
    color: #000000;
    font-size: 1rem;
}
.viewscontainer{
    width:100%;
    display: flex;
    column-gap: 1rem;
    height:19.5rem; 
}
.views-graph{
    width:60%;
    background-color: white;
    border-radius: 1rem;
   padding: 1rem;
}
.views-header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    /* padding: 0 1.5rem; */
    
}
.linechartholder{
    height:75%;
    box-sizing: border-box;
    /* padding: 0 1.5rem; */
}
.submit-modal-container{
    padding: 1rem;
}
.linechartholderexpanded{
    height: 37rem;
}
.stackedbarchartexpanded{
    height: 37rem;

}
.traffic-header{
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}
.traffic-modal-left{
    color:#787878;
}
.traffic-modal-right{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
.traffic-duration-items{
    display: flex;
    column-gap: 1rem;
    font-family: 'Euclid';
    font-size: 1rem;
    color: #0047FF;
    font-weight: 500;
    
}
.td-list{
    padding: 0.7rem;
    border-radius: 4px;
    cursor: pointer;
}
.traffic-duration-items .active{
    background-color: #0047FF;
    color: white;
}
.download-btn{
    border-right: 1px solid #00000040;
    border-left: 1px solid #00000040;
    padding: 0 0.5rem;
}
.traffic-source-header{
    align-items: center;
}
.uptime-left{
    display: flex;
    align-items: center ;
}

.uptimeheader{
    font-size: 1.25rem;
    border-bottom: 1px solid #0000001A;
    border-top: 1px solid #0000001A;
    padding:  1.3rem 0;
    color: #0047FF;
    font-weight: 500;
    font-family: 'EuclidMedium';
    display: flex;
    justify-content: center;
}
.uptimetableheader{
    display: flex;
    width: 100%;
}
.uptime-thead{
    font-size: 1rem;
    font-family: 'EuclidSemiBold';
    padding: 1.3rem 0;
    border-bottom: 1px solid #0000001A;
}
.uptime-tdata{
    display: flex;
    font-size: 0.9rem;
    font-family: 'EuclidMedium';
    padding: 1.3rem 0;
    border-bottom: 1px solid #0000001A;
}


.col1{
    width:19%
}
.col2{
    width:27%
}
.col3{
    width:27%
}
.col4{
    width:27%
}

.avg-col1{
    width: 20%
}
.avg-col2{
    width: 40%
}
.avg-col3{
    width: 40%
}
.filter-btn{
    
    background-color: #F5F5F5;
    padding: 0.3rem 0.4rem;
    border-radius: 7px;
}


.goals-holder{
    border-radius: 1rem;
    width:40%;
    /* flex-grow: 0.3; */
    /* box-sizing: border-box; */
    /* padding: 0 2rem; */
    background-color: white;
    padding: 1.5rem;

}

.goals-holder-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: #787878;
    margin: 0 0 0.5rem 0;
}
.goals-icon, .goal-item-icon{
    color: #0047FF;
}

.goal-items{
    display: flex;
    margin: 1.3rem 0;
}
.average-maximize{
    position: absolute;
    top:1rem;
    right: 1rem;
}
.goal-item-icon{
    width: 47px;
    height: 45px;
    background-color: #0047FF14;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    margin-right: 1rem;
}
.goal-item-stats{
    width: 90%;
}
.goal-progress-bar{
    margin-top: 0.4rem;
}
.addgoalform{
    display: flex;
    flex-direction: column;
}
.goalfield{
    margin: 1rem 0;
    padding: 0.9rem 1.1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: solid 1px #0000001A;
    transition: all 0.3s ease-in-out;
}
.goalfield-col1{
    width: 60%;
}
.goalfield-col2{
    width: 40%;
}
.goaldropdown{
    color:#787878;
}
.cancel-btn{
    cursor: pointer;
}
.addgoalform input:focus{
    border: solid 1px black
}
.formbtn{
    border-radius: 0.5rem;
    margin: 1rem 0; 
    padding: 0.9rem;
    background-color: #0047FF;
    color: white;
    font-family: "Euclid";
    border: none;
}


.row3{
    width: 100%;
    height: 15.25rem;
    /* background-color: lightblue; */
    margin: 1rem 0;
    display: flex;
    column-gap: 1rem;
    /* box-sizing: border-box; */
    color:#787878;
}
.row3-left{
    width: 60%;
    /* background-color: lightcyan; */
    border-radius: 1rem;
    display: flex;
    column-gap: 1rem;
    /* padding: 1rem; */
}
.cumulativelinkheader{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.cumulativeprogressbar{
    display: flex;
    margin : 1rem 0;
    /* width: 100%; */
    /* background-color: lightcoral; */
}
.cumulativefooter{
    margin: 2.5rem 0;
}
.row4-left{
    padding: 1.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.trafficheader{
    display: flex;
    justify-content: space-between  ;
}
.trafficlabels{
    display: flex;
    column-gap: 1rem;
}
.trafficlabel-item{
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}


.stackedbarchartholder{
    height: 90%;
    width: 95%;
    margin: 1rem;
}
.row3-right{
    width: 40%;
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between   
}
.pageviewbarchart{
    height: 80%;
}
.row3-left-col1{
    width: 60%;
    border-radius: 1rem;
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}
.row3-left-col2{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.row3-left-col2-up{
    background-color: white;
    justify-content: center;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 1.2rem 0;
    flex-grow: 1;

}
.row3-left-col2-down{
    background-color: white;
    justify-content: center;
    padding: 1.2rem 0;
    flex-grow: 1;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.row5{
    height: 22.43rem; 
}

.row5-left-col2-up{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative;
}
.doughnutlabels{
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    font-size: 0.875rem;
    font-weight: 600;
    color:#000000;
    width: 45%;
}
.label-item{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.dot{
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 1rem;
   
}
.dot1{
    background-color: #8AAAFF;
}
.dot2{
    background-color: #B7CBFF;
}
.dot3{
    background-color: #5C89FF;
}
.dot4{
    background-color: #0048FF;
}.dot5{
    background-color: #2E68FF;
}

.row5-right{
    justify-content: space-evenly;
    row-gap: 1.5rem;
}
.emailstats{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.emailstats-item{
    display: flex;
    align-items: center;
  
}
.itemlogo{
    background-color:#0047FF1A ;
    padding: 0.6rem;
    border-radius: 50%;
    color: #0047FF;
    margin: 0 1rem;
    
}
.itemname{
    font-size: 1.25rem;
    font-weight: 600;
    color: black;
    width: 90%;
}
.itemvalue{
    font-size: 2.25rem;
    color:#0047FF;
    font-weight: 500;
    width: 10%;
}
.arrowholder{
    display: flex;
    justify-content: flex-end;
    color:#0047FF;
    column-gap: 1rem;

}
.row4{
    height: 28rem;
}
.row4-right{
    justify-content: start;
    padding: 1.5rem;
}
.mailsearchbar{
    height: 3.18rem;
    border: 1px solid #0000001A;
    border-radius: 0.5rem;
    margin: 1rem 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 1rem;
}
.searchbox{
    border: none;
    font-size: 1rem;
}
.mailactionmenus{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.mailactionmenus-left{
    display: flex;
    column-gap: 1rem;
}
.maillists{
    margin: 1rem 0;
    /* background-color: lightcoral; */
    overflow-x: scroll;
}
.maillistitem{
    display: flex;
    border-bottom: 1px solid #0000001A;
    padding: 0.5rem 0;
    
}
.maillistname{
    color: black;
    font-weight: 500;
    font-family: 'Poppins';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.8rem;

}

.maillistitem-left{
width: 25%;
display: flex;
column-gap: 1rem;
}
.maillistsubject{
    width: 75%;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    padding: 0 0.8rem;

}
