@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: Euclid;
  src: url(../fonts/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
  font-family: EuclidBold;
  src: url(../fonts/Euclid\ Circular\ A\ Bold.ttf);
}

@font-face {
  font-family: EuclidLight;
  src: url(../fonts/Euclid\ Circular\ A\ Light.ttf);
}
@font-face {
  font-family: EuclidMedium;
  src: url(../fonts/Euclid\ Circular\ A\ Medium.ttf);
}
@font-face {
  font-family: EuclidSemiBold;
  src: url(../fonts/Euclid\ Circular\ A\ SemiBold.ttf);
}
@font-face {
  font-family: EuclidRegular;
  src: url(../fonts/Euclid\ Circular\ A\ Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Euclid;
  background: #eff2f4;
  /* -ms-overflow-style: none; Internet Explorer 10+ */
  /* scrollbar-width: none; Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.freeze-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c3c3c;
  opacity: 0.6;
  border-radius: 10px;
}
.ql-container.ql-snow {
  border: none;
}
